.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close-button.svg');
  background-repeat: no-repeat;
  background-color: black;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 568px){
    .popup__close-button{
      background-size: 20px;
      right:0;
      width: 20px;
      height: 20px;
   }
}