.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 984px) {
    .header {
      max-width: 550px;
   }  
  }

@media screen and (max-width: 568px) {
  .header {
    max-width: 320px;
 }  
}