.header__auth-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 22x;
    margin: 0;
    padding: 0;
    border: 0;
    color: #A9A9A9;;
    background-color: black;
    text-decoration: none;
}