.profile__subtitle {
  grid-area: subtitle;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  margin: 0;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 568px) {
    .profile__subtitle {
      max-width: 282px;
      font-size: 14px;
      line-height: 16.94px;
      text-align: center;
      padding-bottom: 0;
  }  
  }